name: Build echworker + luci (armvirt-64)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    env:
      CCACHE_DIR: ${{ github.workspace }}/.ccache

    steps:
    - name: Checkout OpenWrt
      uses: actions/checkout@v4
      with:
        repository: openwrt/openwrt
        ref: v23.05.5
        path: openwrt

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential clang flex g++ gawk gettext \
          git libncurses-dev libssl-dev python3 \
          rsync unzip zlib1g-dev file wget ccache

    - name: Restore cache
      uses: actions/cache@v4
      with:
        path: |
          openwrt/staging_dir
          openwrt/toolchain
          .ccache
        key: openwrt-armvirt-23.05

    - name: Configure target
      run: |
        cd openwrt
        cat > .config << 'EOF'
        CONFIG_TARGET_armv
